html{
  cursor: url('img/cursor.png'), auto;

}
body{
  font-family : 'Share Tech';
  background-color: pink;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  min-height: 600px;
}
p{
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: rgb(243, 137, 154);
}
.title{
  font-family: "Changa One";
  font-size: 40px;
}
.card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(253, 133, 203);
  border-radius: 10px;
  overflow: hidden;
}
.nav-bar{
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgb(253, 239, 195);
  padding-top: 10px;
  padding-bottom: 10px;
}

.gif-img{
 width: 52px;
 margin-left: 10px;
 margin-right: 15px;
}
.nav-list{
  background-color: rgb(255, 239, 239);
  padding: 10px 10px 10px 10px;
}
.add-button{
  background-color: rgb(108, 255, 108);
  font-family : 'Share Tech';
  color: white;
  border : none;
  font-size: 18px;
  border-radius: 22px;
  cursor: url('img/cursor.png'), auto;
}
.delete-button,
.delete-all-button{
  background : rgb(243, 130, 130);
  font-family : 'Share Tech';
  border: none;
  color : white;
  padding: 10px 0px ;
  font-size: 18px;
  border-radius: 22px;
  cursor: url('img/cursor.png'), auto;
}
.todo-grid,
.todo-input-grid{
  display : grid;
  grid-template-columns: 200px 150px 150px 100px;
  column-gap:15px;
  row-gap : 10px;
  align-items: center;
}

.todo-input-grid{
 align-items: stretch;
 max-height: 300px;
 overflow-y: auto;
}

.name-input, 
.date-input,
.time-input{
 font-family : 'Share Tech';
 font-size: 15px;
 padding: 6px;
 border: none;
  cursor: url('img/cursor.png'), auto;
}
.bottom-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; 
}
.delete-all-button{
  padding: 10px 26px ;
  border-radius: 22px;
}